{# twig template #}
{% extends 'templates/email.html.twig' %}

{% block emailBody %}

    <div class="row body-row">
        <div class="col-lg-12">
            <p>Greetings,</p>
            <p>
                A deposit has been processed for your {{ constant('APP_NAME', ewebify) }} account:
            </p>
                <table>
                <tr>
                    <th>Account Number</th>
                    <th>Name</th>
                    <th>Expiry</th>
                    <th>Deposit Amount</th>
                    <th>Account Balance</th>
                </tr>
                <tr>
                    <td>{{ accountNumber }}</td>
                    <td>{{ cardholder }}</td>
                    <td>{{ expirationDate }}</td>
                    <td>${{ depositAmount | number_format(2, '.', ',') }}</td>
                    <td>${{ accountBalance | number_format(2, '.', ',') }}</td>
                </tr>
            </table>

            <p>If you did not initiate this change to your account, please <a href="mailto:{{ constant('CUST_SUPP_EMAIL', ewebify) }}">notify us</a> immediately.</p>

            <p>Thank you,</p>
            <p>The PapaLocal Team
                <br/>
                <a href="tel:{{ constant('CUST_SUPP_PHONE', ewebify) }}">{{ constant('CUST_SUPP_PHONE', ewebify) }}</a>
            </p>

        </div>
    </div>

{% endblock %}